<div class="container">
    <div class="row" style="margin-top:15px">
        <div class="col-12">
            <h3 class="text-center">Nuttapong Thaiauboon</h3>
            <p class="text-center">
                310 pattanakarn 63<br> prawet,prawet 10250 <br> 080-594-8038 <br> nuttapong.t.cipher@gmail.com
            </p>
        </div>
        <div class="col-12">
            <h4>Summary</h4>
            <p>
                Enthusiastic Fast Learner Junior Web Developer who can do everything including Web design, Frontend, Backend and Database Design. Also can do project management.
            </p>
        </div>
        <div class="col-12">
            <h4>Developer Skill</h4>
            <div class="d-flex flex-row justify-content-around">
                <ul>
                    <li>HTML, CSS, JS</li>
                    <li>GridFs</li>
                    <li>Visual studio code</li>
                    <li>Emmet</li>
                </ul>
                <ul>
                    <li>AngularJS</li>
                    <li>NodeJS</li>
                    <li>SQL</li>
                    <li>linux (debian,redhat)</li>
                </ul>
                <ul>
                    <li>MongoDB</li>
                    <li>Git</li>
                    <li>Googling skill</li>
                </ul>
            </div>

        </div>
        <div class="col-12">
            <h4>Experience</h4>
            <p>
                2015~present <b>Netbay pcl.</b> (Web Developer)
            </p>
            <ul>
                <li>Design and develop system to receive large scale workload.</li>
                <li>Design UI layout with proper UX to make user happy.</li>
                <li>Write a good code to make co-worker more happy.</li>
                <li>Deal with agile project planning and make it possible.</li>
                <li>Specialize in document flow website.</li>
            </ul>
            <p>
                2014~2014 <b>Netbay pcl.</b> (Intern)
            </p>
            <ul>
                <li>Develop tool for map excel template with data.</li>
                <li>Participate in e-payment website developing.</li>
            </ul>
        </div>
        <div class="col-12">
            <h5>Education</h5>
            <b>Bachelor's Degree in Computer Engineering</b>
            <p><b>2011-2015</b> King Mokkut's Institute of Technology Ladkrabang (GPA:3.25)</p>
        </div>
        <div class="col-12">
            <h4>Additional Information</h4>
            <ul>
                <li>
                    I'm working on adding Angular, rxjs, webpack and docker to my skill set.
                </li>
                <li>
                    My hobbies is various, such as playing game, gunpla builder, anime watching, playing music and coding.
                </li>
            </ul>
        </div>
    </div>
</div>