<div class="container h-100">
    <div class="row h-100">
        <div class="col-4 h-100">
            <img src="assets/images/avatar.jpg" style="width:70%;margin-top: 54px;" class="img-thumbnail rounded mx-auto d-block">
            <address style="margin-top:30px;">
              <b>Address</b><br>310 pattanakarn 63<br> prawet,prawet 10250 <br> 080-594-8038 <br> nuttapong.t.cipher@gmail.com
            </address>
            <div>
                <h4>Skillset</h4>
            </div>
            <img src="assets/images/AngularJS-Shield.svg" width="60">
            <img style="margin-left:20px" src="assets/images/nodejs_logo.png" width="120">
            <img src="assets/images/mongodb-logo.jpg" width="90">
            <img style="margin-left:20px" src="assets/images/html-css-js-logos.png" width="90">
            <img src="assets/images/Git-Logo-2Color.png" width="100">
            <img style="margin-left:20px" src="assets/images/mysql-logo.png" width="80">
        </div>
        <div class="col-8" style="border-left:2px solid #CCC;padding-left:50px;margin-top:50px;margin-bottom:50px">
            <h2 class="display-4">Nuttapong Thaiauboon</h2>
            <blockquote class="blockquote">
                Enthusiastic Fast Learner Junior Web Developer who can do anything as you wish including Web design, Frontend, Backend and Database Design. Also can do project management.
            </blockquote>
            <h4>Experience</h4>
            <p>
                2015~present <b>Netbay pcl.</b> (Web Developer)
            </p>
            <ul>
                <li>Design and develop system to receive large scale workload.</li>
                <li>Design UI layout with proper UX to make user happy.</li>
                <li>Write a good code to make co-worker more happy.</li>
                <li>Deal with agile project planning and make it possible.</li>
                <li>Specialize in document flow website.</li>
            </ul>
            <p>
                2014~2014 <b>Netbay pcl.</b> (Intern)
            </p>
            <ul>
                <li>Develop tool for map excel template with data.</li>
                <li>Participate in e-payment website developing.</li>
            </ul>
            <h5>Education</h5>
            <b>Bachelor's Degree in Computer Engineering</b>
            <p><b>2011-2015</b> King Mokkut's Institute of Technology Ladkrabang (GPA:3.25)</p>
            <h4>Additional Information</h4>
            <ul>
                <li>
                    I'm working on adding Angular, rxjs, webpack and docker to my skill set.
                </li>
                <li>
                    My hobbies is various, such as playing game, gunpla builder, anime watching, playing music and coding.
                </li>
            </ul>
        </div>
    </div>
</div>