<div class="container h-100">
    <div class="row justify-content-md-center">
        <div class="col-lg-8" style="margin-top:30px;">
            <h2 class="display-4 mb-4">Nuttapong Thaiauboon</h2>
            <div class="media">
                <img src="assets/images/avatar.jpg" style="width:150px;" class="d-flex mr-3 hidden-xs-down">
                <div class="media-body">
                    <blockquote class="blockquote">
                        Impossible is impossible.
                    </blockquote>
                    <address style="margin-top:30px;">
                            <b>
                                <i class="fa fa-address-card" aria-hidden="true"></i> Address</b> 310 pattanakarn 63 prawet,prawet 10250 080-594-8038
                            <br>
                            <b>
                                <i class="fa fa-envelope" aria-hidden="true"></i> E-mail</b> nuttapong.t.cipher@gmail.com
                            <br>
                            <b>
                                <i class="fa fa-github" aria-hidden="true"></i> GitHub</b>
                            <a href="https://github.com/xypherbo">https://github.com/xypherbo</a>
                        </address>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-md-center mt-4">
        <div class="col-lg-8" style="margin-bottom:50px;">
            <h4>Experience</h4>
            <p>
                2015~present
                <b>Netbay pcl.</b> (Web Developer)
            </p>
            <ul>
                <li>Design responsive UI layout with proper UX.</li>
                <li>Developing and maintaining front end code.</li>
                <li>Developing and maintaining back end code.</li>
                <li>Review and optimize code.</li>
                <li>Security enhancement of service.</li>
                <li>Communicate with other department to do project planning.</li>
                <li>Requirement gathering.</li>
                <li>Stackoverflowing and Googling to help team research and troubleshoot problems.</li>
            </ul>
            <p>
                2014~2014
                <b>Netbay pcl.</b> (Intern)
            </p>
            <ul>
                <li>Developing tool for merge excel template with data.</li>
                <li>Participate in e-payment website developing.</li>
            </ul>
            <br>
            
            <h4>Dev Stack</h4>
            <div class="skillset">
                <img src="assets/images/AngularJS-Shield.svg" width="50">
                <img src="assets/images/rxjs.png" width="50">
                <img src="assets/images/nodejs_logo.png" width="120">
                <img src="assets/images/express.png" width="120">
                <img src="assets/images/mongodb-logo.jpg" width="100">
                <img src="assets/images/mongoose.png" width="85">
                <img src="assets/images/rabbmq.png" width="100">
                <img src="assets/images/html-css-js-logos.png" width="90">
                <img src="assets/images/Git-Logo-2Color.png" width="80">
                <img src="assets/images/firebase.png" width="150">
                <img src="assets/images/mysql-logo.png" width="80">
                <img src="assets/images/stackov.jpg" width="130">
                <img src="assets/images/vscodelogo.png" width="40">
                <img src="assets/images/google.png" width="120">
            </div>
            <br>
            <hr>
            <h4>Education</h4>
            <b>Bachelor's Degree in Computer Engineering</b>
            <p>
                <b>2011-2015</b> King Monkut's Institute of Technology Ladkrabang (GPA:3.25)
            </p>
            <br>
            <h4>Additional Information</h4>
            <ul>
                <li>
                    I'm working on adding webpack and docker to my skill set.
                </li>
                <li>
                    My hobbies is various, such as playing game, gunpla builder, anime watching, playing music and coding.
                </li>
            </ul>
            

        </div>
    </div>
</div>