<div class="container h-100">
    <div class="d-flex flex-row justify-content-around p-2 h-100 align-items-center">
        <div class="card-group">
            <div class="card text-center" style="width: 20rem;">
                <img class="card-img-top" style="height:20rem;width:17rem;margin:auto" src="assets/images/legacy.png" alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title">Legacy</h4>
                    <p class="card-text">Old school legacy CV/Resume.</p>
                    <button routerLink="/legacy" class="btn btn-outline-success">View</button>
                </div>
            </div>
            <div class="card text-center" style="width: 20rem;">
                <img class="card-img-top" style="height:20rem;width:15rem;margin:auto" src="assets/images/modern.png" alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title">Modern</h4>
                    <p class="card-text">Modern and flexible CV/Resume.</p>
                    <button routerLink="/modern" class="btn btn-outline-primary">View</button>
                </div>
            </div>
        </div>
    </div>
</div>